/* Style for the header with the logo and search box */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between; /* Distribute space evenly between items */
    align-items: center; /* Center items vertically */
    padding: 0px 20px; /* Padding around the header */
    background-color: #cac7c7; /* Background color */
}

.logo {
   width: 11%;
    align-items: center;
}

.logo-image {
    height: 116px;
    width: 100%;
}

.search-section {
    width: 70%; /* Allow the search section to take remaining space */
}

.search-input {
    width: 100%; 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.theme-section {
    flex: 0 0 auto; /* Keep the theme section size based on content */
    display: flex;
    align-items: center; /* Center items vertically */
}

.theme-select {
    margin-left: 10px; /* Space between label and select */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Sidebar styles */
#sidebar {
    width: 240px;
    background-color: #f4f4f4;
    padding: 15px;
    height: 100vh;
    float: left;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar li {
    margin: 10px 0;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    border-radius: 4px;
}

#sidebar ul li a:hover {
    text-decoration: none;
    
}

#sidebar ul li a.active, #sidebar ul li a:hover {
    background-color: #007bff; /* Change background color on active and hover */
    color: white; /* Change text color */
}

.active {
    font-weight: bold;
    color: blue;
}
/* Main content area styles */
#markdown-content {
    margin-left: 270px;
    padding: 20px;
    height:  100vh;  
    overflow-y: auto; 
    /* padding: 20px; */
    /* flex-grow: 1;  */
    /* background-color: #ffffff;  */
    /* border-left: 1px solid #ddd; */
}